<!-- Single client card. Variables: client, server -->
{% set conf = build_client_config(server, client) %}

<div class="box mb-3">
  <div class="columns is-vcentered">
    <div class="column is-narrow">
      <figure class="image" style="width:160px;height:160px">
        <img src="/api/qr/{{ client.id }}"
             alt="QR for {{ client.name }}"
             width="160" height="160"
             loading="lazy">
      </figure>
    </div>
    <div class="column">
      <div class="level mb-1">
        <div class="level-left">
          <strong>{{ client.name }}</strong>
          <span class="tag is-light ml-2">{{ client.ip_address }}</span>
        </div>
        <div class="level-right">
          <a class="button is-small is-light"
             href="/api/download/qr/{{ client.id }}">
            ⬇ QR
          </a>
          <a class="button is-small is-light ml-1"
             href="/api/download/clients/{{ server.id }}">
            ⬇ .zip
          </a>
        </div>
      </div>
      <pre class="client-conf-pre">{{ conf }}</pre>
    </div>
  </div>
</div>
